body {

    font-family: sans-serif;
    color: silver;
    background-color: darkslategray;
    padding: 2em;

}

* {

    border-color: silver;
}

a {

    color: white;
    text-decoration: none;

}

a:hover {

    text-decoration: underline;

}

a:visited {

    color: white;

}

/*
insert space before any paragraph
that appears within a fieldset
*/
fieldset p {

    margin-top: 1em;
    margin-bottom: 0;
}

/*
insert space around commonly
used controls that are often
intermixed with text and
one another
*/
button,
input,
select,
#hue-bridges>* {

    margin: 0.25em;

}

/*
define a container whose child
elements flow horizontally
across the page rather than
from top to bottom
 */
.horizontal-panel {

    display: flex;
    flex-flow: row wrap;

}

/*
make each direct child of a
horizontal panel consume
the same amount of
horizontal space by default
*/
.horizontal-panel>* {

    flex: 1;

}

/*
override the flex: setting
for elements marked as being
dynamically generated controls
*/
.control,
#hue-bridges-fieldset {

    flex: unset;

}

/*
styling for websocket in
the 'connecting' state
*/
.ws-connecting {

    color: black;
    background-color: yellow;
    padding: 0.25em;

}

/*
styling for websocket in
the 'connected' state
*/
.ws-connected {

    color: white;
    background-color: green;
    padding: 0.25em;

}

/*
styling for websocket in
the 'disconnecting' or
'disconnected' states
*/
.ws-disconnecting,
.ws-disconnected {

    color: white;
    background-color: red;
    padding: 0.25em;

}

/*
styling for eventsource in
the 'unitialized' state
*/
.hue-uninitialized {

    display: inline-block;
    color: white;
    background-color: gray;
    padding: 0.25em;

}

/*
styling for eventsource in
the 'connecting' state
*/
.hue-connecting {

    display: inline-block;
    color: black;
    background-color: yellow;
    padding: 0.25em;

}

/*
styling for eventsource in
the 'connected' state
*/
.hue-connected {

    display: inline-block;
    color: white;
    background-color: green;
    padding: 0.25em;

}

/*
styling for eventsource in
the 'disconnected' state
*/
.hue-disconnected {

    display: inline-block;
    color: white;
    background-color: red;
    padding: 0.25em;

}