body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: silver;
    background-color: darkslategray;
    padding: 2em;

}

a {

    color: white;
    text-decoration: none;

}

a:hover {

    text-decoration: underline;

}

a:visited {

    color: white;

}

.centered {

    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapped {

    display: flex;
    flex-flow: row wrap;

}

.not-wrapped {

    display: flex;
    flex-flow: row nowrap;

}

.padded {

    margin: 0.25em;
    padding: 0.25em;

}

footer dd div,
.info {

    margin: 0.25em 0 0.25em 0;
    padding: 0.25em 0 0.25em 0;

}

input,
button,
select,
table,
th,
td {

    margin: 0.25em;

}

fieldset p,
#ws-url {

    width: 15em;

}

.ws-connecting {

    color: black;
    background-color: yellow;

}

.ws-connected {

    color: white;
    background-color: green;

}

.ws-disconnecting,
.ws-disconnected {

    color: white;
    background-color: red;

}

.hue-status {

    display: inline-block;
    text-align: center;

}

.hue-uninitialized {

    color: white;
    background-color: gray;

}

.hue-connecting {

    color: black;
    background-color: yellow;

}

.hue-connected {

    color: white;
    background-color: green;

}

.hue-disconnected {

    color: white;
    background-color: red;

}